@import "./scss/config";
@import "./scss/home";
@import "./scss/typing-effect";
@import "./scss/menu";
@import "./scss/about";
@import "./scss/projects";
@import "./scss/contact";
@import "./scss/side-bcg";
@import "./scss/flip-card";
@import "./scss/side-nav";

*,
body,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $primary-color;
  color: $white-200;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

// MAIN ENTRY POINT IN REACT
#root {
  background: $primary-color;
  color: $white-200;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3 {
  font-weight: 400;
}

ul {
  //   display: flex;
  list-style-type: none;
  // gap: 1rem;
}

a {
  //   color: $white-200;
  text-decoration: none;
  //   @include hover-secondary;
  //   @include transition-ease;
}

header {
  position: fixed;
  display: flex;
  // justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;

  // border: 2px solid blue;
  //   padding: 1rem;
}

main {
  height: 100%;
  width: 100%;

  .social-icons {
    position: fixed;
    z-index: 1;
    bottom: 0.7rem;
    left: 1rem;
  }

  a {
    color: #fff;
    font-size: 0.9rem;
    padding: 0.4rem;
  }
}

footer {
  font-size: 0.8rem;
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: right;
  padding: 1.2rem;
  width: 100%;
  background: #000;
  border-radius: 0;
  border-top: 2px solid $secondary-color;
}

@import "./scss/responsive";
