.card-flipped {
  transform: rotateY(180deg);
  border-bottom: 5px solid $secondary-color;
  h2,
  p,
  .home-name,
  .home-desc,
  .contact-list,
  .contact-item,
  .text-secondary {
    @include transition-ease;
    opacity: 0;
  }
}

.flip-card {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: rotateY(0);
  z-index: -999;
  display: flex;
  // border: 2px solid red;
  // display: none;
  justify-content: center;
  align-items: center;
  @include transition-ease;

  &-icons {
    // display: none;
    a {
      display: none;
      position: inline-block;
      z-index: -999;
    }
  }

  &-active {
    //   display: flex;
    z-index: 999;
    transform: rotateY(180deg);
    opacity: 1;
  }
  &-icons {
    min-height: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    a {
      // position: inline-block;
      display: block;
      height: 70px;
      width: 80px;
      z-index: 999;
      // border: 2px solid blue;
      border-bottom: 5px solid $secondary-color;
      font-size: 20px;
      @include hover-secondary;
    }
  }
}
