.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  width: 28px;
  height: 20px;
  cursor: pointer;
  @include transition-ease;

  &-burger {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 25px;
    height: 4px;
    // background: set-text-color($primary-color);
    background: $secondary-200;
    // background: $primary-200;
    @include transition-ease;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      width: 30px;
      height: 4px;
      // background: set-text-color($primary-color);
      background: $secondary-200;
      // background: $primary-200;

      @include transition-ease;
    }
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 20px;
      height: 4px;
      // background: set-text-color($primary-color);
      background: $secondary-200;
      // background: $primary-200;

      @include transition-ease;
    }

    &.open {
      transform: rotate(360deg);
      background: transparent;

      &::before {
        transform: rotate(45deg) translate(5px, 8px);
      }

      &::after {
        // height: 3px;
        width: 30px;
        transform: rotate(-45deg) translate(3px, -7px);
      }
    }
  }
}

nav {
  position: fixed;
  // border: 2px solid red;
  // top: -120px;
  top: 0;
  right: 0;
  // width: 100vw;
  width: 0px;
  opacity: 0.9;
  // transform: rotate(415deg);
  visibility: hidden;
  // border-radius: 50px;
  // border-radius: 0%;
  @include transition-ease;

  &.open {
    // @include transition-ease;
    transform: rotate(0deg);
    visibility: visible;
    // top: 0;

    // border-radius: 50px;
    width: 100vw;
    visibility: visible;
  }

  .menu-nav {
    display: flex;
    gap: 1rem;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: $primary-color;
    // background: rgba(31, 30, 30, 0.99);
    // backdrop-filter: blur(900px) saturate(191%);
    // back
    list-style-type: none;
    padding-right: 1rem;
    transform: translateY(-100%);
    @include transition-ease;
    border-radius: 150rem 100rem;

    // border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    // border-radius: 10% 34% 16% 41% / 19% 39% 33% 36%;

    &.open {
      @include transition-ease;
      border-radius: 0%;
      transform: translateY(0);
    }

    &-item {
      transform: translateX(25vw);
      @include transition-ease;
      // a {

      // }
      &.open {
        transform: translateX(0);
      }
      .active {
        color: $secondary-color;
      }
    }

    &-link {
      display: inline-block;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1rem 0;
      font-weight: 300;
      color: white;
      font-weight: 400;
      @include transition-ease;
    }
  }
}

@for $i from 1 through 4 {
  .menu-nav-item:nth-child(#{$i}) {
    transition-delay: ($i * 0.1s) + 0.15s;
  }
}
